{% extends 'base.html' %}

{% block title %}Login Successful - {% endblock %}

{% block script %}
    <script type="text/javascript">
        var timer = setInterval(function ()
        {
            window.location.replace("{{ url_for('create_intervention_event') }}");
        }, 3000);
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create/Edit Event Successful</h1>
        <h4>You will soon be redirected to the Create Event Page</h4>
        <h5>Please click <a href="{{ url_for('create_intervention_event') }}">here</a> if you are not automatically redirected</h5>
    </div>
{% endblock %}