{% extends 'base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block body %}

<div class="container" style="min-height: 500px;">
    <h1 class="text-center mb-3">Answers to Frequently Asked Questions</h1>
    
    {% if not all_articles %}
        <h2 class="text-center">There are currently no FAQs available</h2>
    {% else %}
        {% for each_article in all_articles %}
            <div class="accordion mb-3" id="accordion{{ loop.index }}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}"
                            aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ loop.index }}">
                            {{ each_article[0] }}
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#accordion{{ loop.index }}">
                        <div class="accordion-body">
                            {{ each_article[1] }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}